body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  text-align: center;
  padding: 40px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  margin: auto;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.results {
  margin-top: 20px;
  text-align: left;
}
