body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

button {
  background: #22c55e;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
}
